footer {
    background-color: var(--main-bgColor);
    margin: 30px 0 0 0;
    border-top: 8px solid #4aaaa5;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

html, body {
    height: 100%;
}

body {
    background-image: url("../images/concrete-texture.png");
    margin: 0;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

.col-md-1 {
    padding-right: 0px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

#message {
    margin-bottom: 20px;
}

.connect:hover {
    opacity: 0.8;
}

h2 {
    color: #4aaaa5;
    font-family: 'Cantata One', serif;
    padding-bottom: 25px;
    border-bottom: 2px solid #CCCCCC;
}

h4 {
    color: #4aaaa5;
    font-family: 'Cantata One', serif;
    padding-bottom: 25px;
    border-bottom: 1px solid #CCCCCC;
}

p {
    color: rgb(140, 144, 155);
}

#mypic {
    float: left;
    padding-right: 15px;
}